<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="pdf_folder" value="D:\WorkSpace\Projects\Python\PIIPS_PDFs" />
    <add key="folder_path" value="D:\PIIPS" />
  </appSettings>
</configuration>